<main class="section">
  <div class="container">
    <h1 class="title is-2">Shopping Cart</h1>
    <% if cart.present? %>
      <% cart.each do |key, value| %>
        <% if key == "cart_items" %>
          <div class="columns is-multiline">
            <% value.each do |item| %>
              <div class="column is-full">
                <div class="box">
                  <p>Product: <%= item["product"].name %></p>
                  <p>Quantity: <%= item["quantity"] %></p>
                  <p>price: <%= item["product"].price %></p>
                  <p>Subtotal: <%= number_to_currency(item["subtotal"]) %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% elsif key == "total_price" %>
          <div class="columns">
            <div class="column is-full">
              <div class="box">
                <p>Total Price: <%= number_to_currency(value) %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class="subtitle is-6">Your cart is empty.</p>
    <% end %>
  </div>
</main>
