<section class="section">
  <div class="container  has-text-centered">
    <div class="columns is-centered">
      <div class="column is-half">
        <!-- Centered "Sign Up" heading outside the box -->
        <div class="has-text-centered" style="margin-bottom: 20px;">
          <h2 class="title is-2 has-text-black">Sign Up</h2>
        </div>
        <div class="box has-background-white has-text-centered">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "box") do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <%= f.label :first_name, class: "label" %>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <%= f.text_field :first_name, autofocus: true, class: "input is-medium" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <%= f.label :last_name, class: "label" %>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <%= f.text_field :last_name, class: "input is-medium" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <%= f.label :address, class: "label" %>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <%= f.text_field :address, class: "input" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <%= f.label :province_id, class: "label" %>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <%= f.collection_select(:province_id, Province.all, :id, :name, prompt: "Select Province", class: "select is-fullwidth") %>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <%= f.label :email, class: "label" %>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-medium" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <%= f.label :password, class: "label" %>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <%= f.password_field :password, autocomplete: "new-password", class: "input is-medium" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <%= f.label :password_confirmation, class: "label" %>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input is-medium" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.submit "Sign up", class: "button is-primary is-fullwidth is-medium" %>
              </div>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
