<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="#">
      <img src="/logo.png" width="180" height="180">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="<%= products_path %>" class="navbar-item">
        Product
      </a>

      <a href="<%= categories_path %>" class="navbar-item">
        Category
      </a>
    <a href="<%= cart_path(current_user.id) %>" class="navbar-item">
        Cart
          <a href="<%= orders_path %>" class="navbar-item">
        Orders
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a href="<%= new_admin_user_session_path %>" class="navbar-item">
            Admin Login
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-item">
      <div class="buttons">
        <%= render partial: 'layouts/components/search_form' %>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
         <% if user_signed_in? %>
         <p>Hi, <%= current_user.email.split('@').first %>!</p>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'ml-5 button is-danger' %>

        <% else %>
          <%= button_to 'Sign Up', new_user_registration_path, method: :get, class: 'button is-success' %>
          <%= button_to 'Login', new_user_session_path, method: :get, class: 'button is-info' %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
