<p style="color: green"><%= notice %></p>

<%= render @province %>

<div>
  <%= link_to "Edit this province", edit_province_path(@province) %> |
  <%= link_to "Back to provinces", provinces_path %>

  <%= button_to "Destroy this province", @province, method: :delete %>
</div>
