<div class="container is-max-desktop mx-auto px-4">
  <h1 class="title is-2 has-text-centered">Products</h1>
  <div>
    <%= form_with(url: products_path, method: :get, id: 'filter-form') do %>
    <%= select_tag(:filter, options_for_select([['All Products', 'all'], ['On Sale', 'on_sale'], ['New Products', 'new'], ['Recently Updated', 'recently_updated']], params[:filter])) %>
    <%= submit_tag 'Filter' %>
    <% end %>
  </div>
  <div class="is-flex is-justify-content-flex-end mb-5">
    <%= paginate @products %><br>
  </div>
  <div class="columns is-multiline">
    <% @products.each do |product| %>
      <div class="column is-one-third">
        <div class="card">
          <% if product.image.attached? %>
            <%= link_to product_path(product) do %>
              <%= image_tag url_for(product.image), alt: product.name, class: "card-image-top" %>
            <% end %>
          <% end %>
          <div class="card-content">
            <%= link_to product_path(product) do %>
              <p class="title is-4"><%= product.name %></p>
            <% end %>
            <p class="subtitle is-6 has-text-grey">
              <%= truncate(product.description, length: 100) %>
            </p>
            <p class="has-text-success has-text-weight-bold mb-2">Price: $<%= product.price %></p>
          </div>
          <div class="field is-horizontal mb-10">
            <%= form_with(url: cart_index_path, method: :post) do |form| %>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <%= form.hidden_field(:id, value: product.id) %>
                  </div>
                </div>
                <div class="field">

                  <div class="control">
                    <%= form.number_field(:quantity, value: 1, min: 1, class: 'input') %>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <%= form.button('Add 🛒', type: 'submit', class: 'button is-primary') %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
