<div class="container is-max-desktop mx-auto px-4">
  <div class="has-text-centered mt-8 mb-40">
    <h2 class="title is-2 mb-4">Search Results</h2>
    <p class="subtitle is-4 mb-4">Products found when searching for: <%= params[:keywords] %></p>
    <% if @products.empty? %>
      <p class="subtitle is-4 has-text-danger">No products found.</p>
    <% else %>
      <p class="subtitle is-4 mb-4">Results found: <%= @products.count %> products</p>
    <% end %>
  </div>

  <div class="columns is-multiline">
    <% @products.each do |product| %>
      <div class="column is-one-third">
        <div class="card">
          <% if product.image.present? %>
            <%= link_to product_path(product) do %>
              <%= image_tag url_for(product.image), alt: product.name, class: "card-image-top" %>
            <% end %>
          <% end %>

          <div class="card-content">
            <%= link_to product_path(product) do %>
              <h3 class="title is-4 mb-2"><%= product.name %></h3>
            <% end %>
            <p class="subtitle is-6 has-text-grey">
              <%= truncate(product.description, length: 100, separator: ' ') %>
            </p>
            <p class="has-text-success has-text-weight-bold mb-2">Price: $<%= product.price %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

