<div class="container is-max-desktop px-4">
  <h1 class="title is-2 has-text-centered">Product Details</h1>

  <div class="columns is-centered">
    <div class="column is-one-third">
      <% if @product.image.present? %>
        <figure class="image is-256x256">
          <%= image_tag @product.image, alt: @product.name %>
        </figure>
      <% end %>
    </div>
    <div class="column is-one-third">
      <h2 class="title is-3 has-text-weight-bold mb-4"><%= @product.name %></h2>
      <p class="mb-4"><strong>Description:</strong> <%= @product.description %></p>
      <p class="mb-4"><strong>Category:</strong> <%= @product.category.name %></p>
      <p class="has-text-success mb-4"><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
       <%= render partial: 'add_cart', locals: { id: @product.id } %>

      <div class="mt-5">
        <%= link_to(request.referer || products_path, class: "button is-info") do %>
          Go Back
        <% end %>
      </div>
    </div>
  </div>
</div>
